.input {
  width: 100%;
  padding: 12px 8px;
  opacity: 0.6;
  border: 1px solid #0d003f;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.input:focus {
  opacity: 1;
  border: 1px solid #0d003f;
  border-radius: 8px;
  outline: none;
}
